/* 
	start the project modules like a pages 
*/


/* layot */
body{
	background: url(img/body.jpg) repeat;
}
.container{
	width: 100%;
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}
.container-small{
	width: 100%;
	max-width: 865px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}

section{

}

/* header */

header{
	padding: 20px 0 80px;
	background: url(img/header.jpg) repeat-y center;
	background-size: cover;
	.container{
		margin-bottom: 50px;
	}
	.about{
		padding-right: 380px;
		min-height: 650px;
		background: url(img/iphone.png) no-repeat top right;
		p{
			font-size: 28px;
			color: #fff;
			line-height: 38px;
			padding: 150px 0 80px;
		}
		a{
			&:hover{
				opacity: .8;
			}
		}
		.apple{
			margin-right: 25px;
		}
	}
}

/* targets */
.target{
	width: 100%;
	font-size: 0;
	margin-bottom: 50px;
	overflow: hidden;
	.item{
		width: 33.33333333%;
		padding: 25px 60px;
		height: 620px;
		i{
			width: 100%;
			height: 92px;
		}
		h2{
			color: #fff;
			font-size: 40px;
			line-height: 70px;
			text-align: center;

		}
		p{
			font-size: 18px;
			color: #fff;
			line-height: 28px;
		}
	}
	.item:nth-child(1){
		background: url(img/back1.jpg) no-repeat center;
		background-size: cover;
		i{
			background: url(img/1-1.png) no-repeat center;
		}
	}
	.item:nth-child(2){
		background: url(img/back2.jpg) no-repeat center;
		background-size: cover;
		i{
			background: url(img/1-2.png) no-repeat center;
		}
	}
	.item:nth-child(3){
		background: url(img/back3.jpg) no-repeat center;
		background-size: cover;
		i{
			background: url(img/1-3.png) no-repeat center;
		}
	}
}

/* fitches */
.fitches{
	padding: 50px 0;
	h2{
		font-size: 36px;
		line-height: 50px;
		color: #444a53;
		padding-top: 220px;
	}
	.big{
		margin-left: 110px;
	}

}
.fitches.container-small{
	img{
		margin: 0 15px;
	}
}

/* footer */
footer{
	text-align: center;
	padding: 200px 20px 20px 20px!important;
	width: 100%;
	.inline{
		vertical-align: bottom;
	}
	p{
		font-size: 18px;
		color: #444a53;
		margin-top: 35px;
	}
	a{
		margin: 0 10px;
	}
}


.line{
	width: 100%;
	height: 2px;
	margin: 0 auto;
	background: url(img/line.jpg) no-repeat center;
	margin: 50px 0;
}

.big.to-right{
	float: none;
}